/*  Shout out to David Fitas who designed and shared
    this code from CodePen titled "Vintage Inspired Contact Form"
    @ https://codepen.io/dfitzy/pen/VepqMq.
    Portions of the CSS below has been modified.
*/

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

html {
  font-family: 'Montserrat', Arial, sans-serif;
}

body {
  background: #bef8fa;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, input, select, textarea {
  color: #5A5A5A;
  font: inherit;
  margin: 0;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

#container {
  border: solid 3px #474544;
  max-width: 768px;
  margin: 60px auto;
  position: relative;
}

form {
  padding: 37.5px;
  margin: 50px 0;
}

h1 {
  color: #474544;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase;
}

.underline {
  border-bottom: solid 2px #474544;
  margin: -0.512em auto;
  width: 80px;
}


input[type='text'] {
	background: none;
  border: none;
	border-bottom: solid 2px #474544;
	color: #474544;
	font-size: 1.000em;
  font-weight: 400;
  letter-spacing: 1px;
	margin: 0em 0 1.875em 0;
	padding: 0 0 0.875em 0;
  text-transform: uppercase;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

input[type='text'] {
	background: none;
  border: none;
	border-bottom: solid 2px #474544;
	color: #474544;
	font-size: 1.000em;
  font-weight: 400;
  letter-spacing: 1px;
	margin: 0em 0 1.875em 0;
	padding: 0 0 0.875em 0;
  text-transform: uppercase;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

input[type='text']:focus {
	outline: none;
	padding: 0 0 0.875em 0;
}


select::-ms-expand {
  display: none;
}

::-webkit-input-placeholder {
	color: #474544;
}

:-moz-placeholder {
	color: #474544;
	opacity: 2;
}

::-moz-placeholder {
	color: #474544;
	opacity: 2;
}

:-ms-input-placeholder {
	color: #474544;
}

.form_button {
  background: none;
  text-align: center;
  border: solid 2px #474544;
  color: #474544;
  cursor: pointer;
  display: inline-block;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.form_button:hover {
  background: #474544;
  color: #F2F3EB;
}

@media screen and (max-width: 768px) {
  #container {
    margin: 20px auto;
    width: 95%;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 26px;
  }

  .underline {
    width: 68px;
  }

  .form_button {
    padding: 15px 25px;
  }
}

@media screen and (max-width: 420px) {
  h1 {
    font-size: 18px;
  }

  .icon {
    height: 35px;
    width: 35px;
  }

  .underline {
    width: 53px;
  }

  input[type='text'] {
    font-size: 0.875em;
  }
}

/* centers the submit and reset buttons within the form */
div.submit {
    margin: auto;
    width: 50%;
    padding: 10px;
}
/* ID that centers the validation text */
  #validation {
    text-align: center;
}

/* shout out to CodePen */
  #shout_out {
    font-style: italic;
    font-size: 9px;
    text-align: center;
  }

/* center text */
p.center {
  text-align: center;
}
h2.center {
  text-align: center;
}

/* error message */
.error {
  font-weight: bold;
  color: #cc0000;
  text-align: center;

}
.center_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p {
  margin: 3em;
}

label {
  margin-bottom: 10px;
  padding:  10px 10px 10px 0;
}

.success {
  color: #228B22;
  text-align: left;
}

.error {
  color: #cc0000;
  text-align: left;
}

/* make image responsive */
.responsive {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow:20px 20px 50px #333;
}
