:root {
  --border-radius: 4px;
  --transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  --font-sans: 'Inter', 'Helvetica', 'Tahoma', sans-serif;
  --font-mono: 'Inconsolata', 'Courier New', monospace;
  --fs-xs: .8rem;
  --fs-sm: .9rem;
  --fs-md: 1rem;
  --fs-ml: 1.2rem;
  --fs-lg: 1.5rem;
  --fs-xl: 2rem;
  --fs-xxl: 4rem;
}

:root.dark {
  /* ---- Dark theme colors */
  --background: #14141a;
  --background-secondary: #282830;
  --text-primary: #f7fbfb;
  --text-primary-tint: #f7fbfb60;
  --text-secondary: #d0cfd7;
  --text-subtle: #a2a1ab;
  --accent-primary: #6bf0d4;
  --accent-primary-tint: #6bf0d420;
  --accent-primary-light: #bbf5e5;
  --accent-secondary: #866bf6;
  --accent-secondary-light: #947cfa;
  --shadow: #000;
}

:root.light {
  /* ---- Light theme colors */
  --background: #f7fbfb;
  --background-secondary: #ebecf4;
  --text-primary: #2f2f37;
  --text-primary-tint: #27272e60;
  --text-secondary: #444450;
  --text-subtle: #656573;
  --accent-primary: #6243e2;
  --accent-primary-tint: #6243e220;
  --accent-primary-light: #795cf1;
  --accent-secondary: #fc6460;
  --accent-secondary-light: #fa726e;
  --shadow: #000;
}


* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: var(--font-sans);
  font-weight: 300;
  color: var(--text-primary);
  box-sizing: border-box !important;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background) !important;
  color: var(--text-primary);
  font-family: var(--font-sans);
  transition: var(--transition);
}

section {
  padding: 15% 0%;
}

a {
  text-decoration: none !important;
}

p {
  margin-top: 15px;
  /* padding: 1rem 5rem; */
  font-size: var(--fs-md);
  line-height: 1.4;
  text-align: justify;
}

i {
  font-style: normal;
  font-family: 'FontAwesome', 'Font Awesome 5 Brands';
}

/* ==== ==== Nav Menu ==== ==== */
.header-background {
  position: static;
  display: block;
  overflow: visible;
  height: auto;
  min-height: 30vh;
  margin: 0;
  padding: 0;
  white-space: normal;
  object-fit: fill;
  transition: var(--transition);
}

.sticky-nav {
  position: sticky;
  top: 0;
  padding: 0;
  z-index: 1;
  align-self: auto;
  order: 0;
}

.logo {
  align-self: center;
  height: 60px;
  width: 60px;
  border: 2px solid var(--accent-secondary);
  opacity: 0.9;
  border-radius: 50%;
}

.logo:hover {
  opacity: 1;
  cursor: default;
}

.navbar-toggler {
  display: flex;
  flex-direction: column;
  align-items: end;
  box-sizing: inherit;
  border: none;
  padding: 0 !important;
  outline: none;
}

.navbar-toggler span {
  /* display: block; */
  width: 28px;
  height: 2px;
  border: 1px;
  background: var(--text-primary);
}

.navbar-toggler span+span {
  margin-top: 6px;
  width: 24px;
}

.navbar-toggler span+span+span {
  width: 20px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 5px 0;
  margin: .75rem;
  font-size: var(--fs-md);
  position: relative;
  font-family: var(--font-mono);
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-link:active {
  color: var(--accent-primary) !important;
  font-weight: 500;
}

.nav-item {
  padding: 10px;
  text-align: center;
  align-self: center;
}

.nav-item:last-child {
  padding-right: 0;
}

.nav-item a {
  color: var(--text-secondary);
  padding: 10px;
}

.nav-item a:hover {
  color: var(--accent-primary) !important;
  transform: translateY(-2px);
  transition: .2s ease-in-out;
}

.nav-item a:active {
  color: var(--accent-primary);
  border: 2px dashed var(--accent-primary);
  transition: none;
}

.nav-item:last-child a:hover {
  transform: none;
}

.nav-item:last-child a:active {
  border: 1px solid var(--accent-primary);
}


.align-right {
  margin-right: auto;
  display: flex;
  flex-direction: row-reverse;
}

/* ==== Header Section ==== */
.header-content {
  margin: -12% 0 0 0;
}

.heading-primary {
  font-weight: 800;
  line-height: 1.4;
  text-align: left;
  color: var(--text-primary);
  margin: 10px 0;
  min-height: 90px;
}

.heading-secondary {
  font-weight: 400;
  color: var(--text-subtle);
}

.heading-intro {
  font-family: var(--font-mono);
  color: var(--accent-primary);
  font-weight: 300;
  margin: 12% 0 0 0;
}

.contact-link {
  margin-top: 50px;
}

.contact-button, .resume-button {
  font-family: var(--font-mono);
  color: var(--accent-primary);
  background-color: transparent;
  border: 1px solid var(--accent-primary);
  border-radius: var(--border-radius);
  padding: 1rem 1.5rem;
  font-size: var(--fs-md);
  text-decoration: none;
  cursor: pointer;
}

.contact-button:hover, .contact-button:focus, .contact-button:active, .resume-button:hover, .resume-button:focus, .resume-button:active {
  background-color: var(--accent-primary-tint);
  color: var(--accent-primary);
  transition: var(--transition);
}

.contact-button {
  display: inline-block;
  font-weight: 400;
}

.resume-button {
  margin: 0;
  font-size: var(--fs-sm);
}

#resume-link {
  color: var(--accent-primary);
  padding: .5rem .75rem;
}

.section-row {
  margin: 3rem 0;
  padding: 0;
  text-align: left;
}

.section-title {
  margin: 40px 0;
}

.section-title .fas {
  color: var(--accent-primary);
  font-size: var(--fs-md);
}

.section-title span {
  margin: 0 8px;
  padding-bottom: 5px;
  color: var(--text-primary);
  /* font-size: var(--fs-lg); */
  font-weight: 300;
  font-family: var(--font-mono);
  border-bottom: 1px dotted transparent;
  cursor: default;
}

.section-subtitle {
  margin-top: 3rem;
  padding: 1rem 0rem;
  font-weight: 500;
  line-height: 2.5rem;
}

.underline {
  display: flex;
  -moz-box-align: center;
  align-items: center;
  position: relative;
  /* margin: 60px 0; */
  font-size: var(--fs-lg);
  white-space: nowrap;
}

.underline::before {
  content: "";
  display: flex;
  position: relative;
  top: -1px;
  width: 2%;
  height: 1px;
  margin-right: 0;
  background-color: var(--accent-primary);
}

.underline::after {
  content: "";
  display: block;
  position: relative;
  top: -1px;
  width: 25%;
  height: 1px;
  margin-left: 0;
  background-color: var(--accent-primary);
}

.underline-center {
  display: flex;
  -moz-box-align: center;
  align-items: center;
  position: relative;
  font-size: var(--fs-lg);
  white-space: nowrap;
}

.underline-center::before {
  content: "";
  display: block;
  position: relative;
  top: -1px;
  width: 15%;
  height: 1px;
  margin-right: 0;
  background-color: var(--accent-primary);
}

.underline-center::after {
  content: "";
  display: block;
  position: relative;
  top: -1px;
  width: 15%;
  height: 1px;
  margin-left: 0;
  background-color: var(--accent-primary);
}

/* ==== ==== Projects ==== ==== */
.project-row {
  height: 400px;
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding: 0;
}

.img-container {
  position: relative;
  height: 350px;
  width: 540px;
  margin: 0;
  border-radius: var(--border-radius);
  display: flex;
  padding: 0;
  transition: var(--transition);
  box-shadow: 1px 3px 10px var(--shadow);
}

#project1:hover .img-container, #project3:hover .img-container {
  transform: translateX(10px);
}

#project1:hover .gallery, #project2:hover .gallery, #project3:hover .gallery {
  filter: none;
}

#project1:hover .info-wrapper, #project3:hover .info-wrapper {
  transform: translateX(-10px);
}

#project2:hover .info-wrapper-left {
  transform: translateX(10px);
}

#project2:hover .img-container {
  transform: translateX(-10px);
}

.gallery {
  opacity: 1;
  position: relative;
  background-position: center;
  width: 100%;
  height: inherit;
  object-fit: cover;
  border-radius: var(--border-radius);
  filter: grayscale(70%);
  transition: filter .5s ease-in;
  z-index: 0;
}

.info-wrapper, .info-wrapper-left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0;
  transition: var(--transition);
  z-index: 1000;
}

.info-wrapper {
  align-items: flex-end;
}

.info-wrapper-left {
  align-items: flex-start;
  transition: var(--transition);
}

.project-title {
  text-align: right;
}

.project-title h3 {
  font-size: var(--fs-lg);
  font-weight: 400;
}

.project-title p {
  padding: 0 0 .5rem 0;
  text-align: right;
}

.project-title p span {
  font-family: var(--font-mono);
  font-weight: 400;
  color: var(--accent-secondary);
}

.project-title-right p span {
  margin-left: 20px;
}

.project-title-left p span {
  margin-right: 20px;
}

.project-title-left, .project-title-left h3, .project-title-left p {
  text-align: left;
}

.description {
  margin: 0 0 1rem -2rem;
  min-width: 120%;
  background-color: var(--background-secondary);
  border-radius: var(--border-radius);
  box-shadow: 1px 3px 10px var(--shadow);
  z-index: 1000;
}

.description p {
  padding: 1.5rem;
  font-size: var(--fs-md);
  font-weight: 300;
  text-align: right;
}

.description p a {
  color: var(--text-primary);
  border-bottom: 1px dotted var(--accent-primary);
}

.description-left {
  margin: 0 -2rem 1rem 0;
}

.description-left p {
  text-align: left;
}

.hidden-lg {
  display: none;
}

.project-links {
  padding: 0;
  margin-top: .5rem;
  display: flex;
  justify-content: space-around;
}

.project-links a {
  padding: 8px 10px;
  border: 1px solid var(--accent-primary);
  border-radius: var(--border-radius);
  color: var(--text-primary);
}

.project-links a:hover, .project-links a:active {
  background-color: var(--accent-primary-tint);
  color: var(--accent-primary);
  transition: var(--transition);
}

.project-btn {
  font-size: var(--fs-md);
  font-weight: 500;
  font-family: var(--font-mono);
  display: flex;
  align-items: center;
  line-height: 1.2rem;
  letter-spacing: -0.5px;
  word-spacing: -2px;
  padding: 10px;
}

/* ==== Additional Projects ==== */
.projects-grid {
  display: flex;
  justify-content: center;
  height: auto;
}

.project-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100%;
  padding-top: 10px;
}

.project-inner {
  background-color: var(--background-secondary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px 15px;
  margin: 0;
  color: var(--text-subtle);
  height: 100%;
  min-height: 455px;
  border-radius: var(--border-radius);
  transition: var(--transition);
}

.project-inner:hover {
  transform: translateY(-5px);
  box-shadow: 1px 6px 5px #00000075;
}

.project-inner:hover .project-inner-img img {
  filter: none;
}

.project-inner-img {
  position: relative;
  margin: 0;
  border-radius: var(--border-radius);
  display: flex;
  padding: 0;
}

.project-inner-img img {
  width: 100%;
  height: 150px;
  margin: 1rem 0 .5rem 0;
  object-fit: cover;
  filter: grayscale(60%);
}

.project-inner h5 {
  font-size: var(--fs-ml);
  font-family: var(--font-sans);
  color: var(--text-subtle);
  line-height: 1.9rem;
}

.project-inner:hover h5 {
  color: var(--text-primary);
  transition: var(--transition);
}

.project-inner h6 span {
  font-size: var(--fs-sm);
  font-family: var(--font-mono);
  color: var(--accent-primary);
  padding: 0;
  margin: 0;
  font-weight: 400;
  margin-right: 20px;
}

.project-inner p {
  font-size: var(--fs-md);
  margin: 10px 0 0 0;
  padding: 0;
}

/* ==== ==== About ==== ==== */
.about-title {
  text-align: center;
  display: flex;
  justify-content: center;
}

.about-title span {
  margin: 0 10px;
  color: var(--text-secondary);
  font-weight: 600;
  border-bottom: 1px dotted var(--accent-primary);
}

.about-text p {
  font-size: var(--fs-md);
  line-height: 1.75rem;
  padding-bottom: 1rem;
}

.about-text p::first-line {
  color: var(--accent-primary-light);
}

.quote {
  margin-top: 12%;
  padding: 0 5%;
  display: flex;
}

.quote-text {
  display: flex;
  flex-direction: column;
}

.quote .fas {
  color: var(--accent-primary);
  margin-right: 1rem;
  font-size: var(--fs-lg);
}

.quote-text h6:nth-child(1) {
  font-weight: 200;
  font-family: var(--font-mono);
  text-align: left;
}

.quote-text h6:nth-child(2) {
  font-weight: 200;
  font-family: var(--font-mono);
  text-align: right;
}

.quote-text p {
  font-size: var(--fs-md);
  text-align: right;
  color: var(--light-green);
  font-style: italic;
  padding-top: 10px;
  line-height: 1.5rem;
}

/* ==== ==== Contact ==== ==== */
.contact-title {
  text-align: center;
  color: var(--text-secondary);
  font-weight: 600;
  border-bottom: 1px dotted var(--accent-primary);
}

.contact-wrapper {
  text-align: center;
  height: auto;
  display: flex;
  flex-direction: column;
}

.contact h6 {
  font-weight: 300;
}

.email {
  font-family: var(--font-sans);
}

.media-icons {
  text-align: center;
  display: none;
  color: var(--accent-primary);
}

.media-icons i {
  color: var(--text-secondary);
  padding: 10px;
}

.media-icons i:active {
  color: var(--text-primary);
  border: 2px dashed var(--accent-primary);
}

/* ==== ==== Go to top button ==== ==== */
.go-top-btn .fas {
  font-size: var(--fs-lg);
  margin-top: .7rem;
  color: var(--text-secondary);
}

.go-top-btn {
  position: fixed;
  width: 3rem;
  height: 3rem;
  bottom: 5%;
  right: 5%;
  border: 1px solid var(--accent-secondary);
  text-decoration: none;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  transition: var(--transition);
}

.go-top-btn:hover, .go-top-btn:active {
  box-shadow: 0px 0px 4px var(--accent-secondary);
}

.go-top-btn:hover .fas {
  color: var(--text-primary);
}

/* ==== ==== Dark/light mode button ==== ==== */
.theme-btn {
  position: fixed;
  width: 3rem;
  height: 3rem;
  bottom: 15%;
  right: 5%;
  border: 1px solid var(--accent-secondary);
  text-decoration: none;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  transition: var(--transition);
}

.theme-btn .fas {
  font-size: var(--fs-lg);
  margin-top: .7rem;
  color: var(--text-secondary);
}

.theme-btn.light {
  display: none;
}

.dark .theme-btn.dark {
  display: none;
}

.dark .theme-btn.light {
  display: block;
}

.theme-btn:hover, .theme-btn:active {
  box-shadow: 0px 0px 4px var(--accent-secondary);
}

.theme-btn:hover .fas {
  color: var(--text-primary);
}

/* ==== ==== Contact side elements ==== ==== */
.contact-side li a, {
  position: fixed;
  width: 3.5rem;
  height: 3.5rem;
  bottom: 3%;
  right: 95%;
  text-decoration: none;
  text-align: center;
  border-radius: 50%;
  /* box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5), 0 1px 5px 0 rgba(0, 0, 0, 0.5); */
  transition: var(--transition);
}

.contact-side i {
  font-size: var(--fs-lg);
  padding: 12px 9px;
  color: var(--text-secondary);
  border-radius: 50%;
}

.contact-side i:hover {
  color: var(--text-primary);
  box-shadow: 0px 0px 6px var(--accent-primary);
  transition: var(--transition);
}

.left-wrapper {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: 3%;
  right: auto;
  z-index: 10;
  color: var(--light-slate);
}

.contact-side ul, .contact-side ul li {
  margin: auto;
  padding: 0;
}

.contact-side ul li {
  margin: 30px 0;
}

.contact-side {
  display: flex;
  flex-direction: column;
  -moz-box-align: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  list-style: outside none none;
  position: relative;
}

.contact-side::after {
  content: '';
  display: block;
  width: 1px;
  height: 120px;
  margin: 0px auto;
  background-color: var(--text-secondary);
}

/* ==== Tooltips ==== */
/* Credit to Chris Bracco on Codepen https://codepen.io/cbracco/pen/nufHz */
[data-tooltip],
.tooltip {
  position: relative;
  cursor: pointer;
}

/* Base styles for the entire tooltip */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after {
  position: absolute;
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition:
    opacity 0.2s ease-in-out,
    visibility 0.2s ease-in-out,
    -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -moz-transition:
    opacity 0.2s ease-in-out,
    visibility 0.2s ease-in-out,
    -moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  transition:
    opacity 0.2s ease-in-out,
    visibility 0.2s ease-in-out,
    transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  pointer-events: none;
}

/* Show the entire tooltip on hover and focus */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* Base styles for the tooltip's directional arrow */
.tooltip:before,
[data-tooltip]:before {
  z-index: 1001;
  border: 6px solid transparent;
  background: transparent;
  content: "";
}

/* Base styles for the tooltip's content area */
.tooltip:after,
[data-tooltip]:after {
  z-index: 1000;
  padding: 10px;
  width: auto;
  background: var(--background);
  border: 1px solid var(--accent-primary);
  border-radius: var(--border-radius);
  color: var(--text-primary);
  content: attr(data-tooltip);
  font-size: 12px;
  line-height: 1.2;
}

/* Directions */
[data-tooltip]:before,
.tooltip:before,
.tooltip-top:before {
  margin-left: -6px;
  margin-bottom: -12px;
  border-top-color: var(--background);
  border-top-color: hsla(0, 0%, 20%, 0.9);
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after,
.tooltip-top:hover:before,
.tooltip-top:hover:after,
.tooltip-top:focus:before,
.tooltip-top:focus:after {
  -webkit-transform: translateY(-12px);
  -moz-transform: translateY(-12px);
  transform: translateY(-12px);
}

/* Right */
.tooltip-right:before,
.tooltip-right:after {
  bottom: 50%;
  left: 100%;
}

.tooltip-right:before {
  margin-bottom: 0;
  margin-left: -12px;
  border-top-color: transparent;
  border-right-color: var(--background);
  border-right-color: var(--accent-primary);
}

.tooltip-right:hover:before,
.tooltip-right:hover:after,
.tooltip-right:focus:before,
.tooltip-right:focus:after {
  -webkit-transform: translateX(12px);
  -moz-transform: translateX(12px);
  transform: translateX(12px);
}

/* Move directional arrows down a bit for left/right tooltips */
.tooltip-left:before,
.tooltip-right:before {
  top: 3px;
}

/* Vertically center tooltip content for left/right tooltips */
.tooltip-left:after,
.tooltip-right:after {
  margin-left: 0;
  margin-bottom: -16px;
}

/* ==== ==== Footer ==== ==== */
#footer {
  padding-bottom: 40px;
}

.footer-col p {
  text-align: center;
  font-size: var(--fs-xs);
  color: var(--text-subtle);
}

.footer-col p .fab, .footer-col p span {
  color: var(--text-subtle);
  font-size: var(--fs-md);
}

.copyright {
  font-size: var(--fs-md);
  color: var(--text-subtle);
}

/* ==== ==== Responsive layouts ==== ==== */
@media only screen and (min-width: 320px) and (max-width: 576px) {

  /* ==== Top navbar ==== */
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 5px;
  }

  .nav-item:last-child {
    padding-right: 10px;
  }

  .header-background {
    margin: 0%;
    transition: none;
  }

  .logo {
    opacity: 1;
  }

  /* ==== Header Section ==== */
  .heading-primary {
    letter-spacing: -1px;
  }

  .underline {
    justify-content: center;
  }

  .underline::before, .underline::after, .underline-center::before, .underline-center::after {
    width: 4%;
  }

  /* ==== Contact side elements ==== */
  #left-side {
    display: none;
  }

  /* ==== Go to top button ==== */
  .go-top-btn .fas {
    font-size: var(--fs-sm);
    margin-top: 7px;
    margin-left: 2px;
    color: var(--text-secondary);
  }

  .go-top-btn {
    position: fixed;
    width: 2rem;
    height: 2rem;
    bottom: 2%;
    right: 2%;
    background-color: var(--background);
    z-index: 1000;
  }

  /* ==== Dark/light mode button ==== */
  .theme-btn .fas {
    font-size: var(--fs-sm);
    margin-top: 7px;
    margin-left: 2px;
    color: var(--text-secondary);
  }

  .theme-btn {
    position: fixed;
    width: 2rem;
    height: 2rem;
    bottom: 9%;
    right: 2%;
    background-color: var(--background);
    z-index: 1000;
  }

  /* ==== Selected Projects ==== */
  .project-row {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0;
  }

  .img-container {
    position: relative;
    height: 200px;
    width: auto;
    margin: 0;
    border-radius: var(--border-radius);
    display: none;
    padding: 0;
  }

  #project1:hover .img-container, #project3:hover .img-container {
    transform: none;
  }

  #project1:hover .gallery, #project2:hover .gallery, #project3:hover .gallery {
    filter: none;
  }

  #project1:hover .info-wrapper, #project3:hover .info-wrapper {
    transform: none;
  }

  #project2:hover .info-wrapper-left {
    transform: none;
  }

  #project2:hover .img-container {
    transform: none;
  }

  .overlay-sm {
    opacity: .9;
    mix-blend-mode: hue;
  }

  .project-wrapper {
    padding: 0 !important;
    margin: 0;
  }

  .info-wrapper, .info-wrapper-left {
    margin-bottom: 10%;
    background-color: transparent;
  }

  .project-title, .project-title-right, .project-title-left {
    display: none;
  }

  div[class*='bg-img'] {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: none;
    object-fit: cover;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    box-shadow: 0px 0px 8px var(--text-primary-tint);
    transition: none;
    min-width: 100%;
    max-width: 100%;
  }

  .bg-img-1 {
    background-image: url('/assets/images/buffle-disc-golf.png');
  }

  .bg-img-2 {
    background-image: url('/assets/images/high-low-game.png');
  }

  .bg-img-3 {
    background-image: url('/assets/images/recipe-app.png');
  }

  .description {
    margin: 5% 2%;
    padding: 6% 0;
    min-width: 95%;
    max-width: 95%;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: var(--background-secondary);
  }

  .description h3, .description p, .hidden-lg-links {
    display: block;
    text-align: left;
    padding: 0 1rem;
  }

  .description h3 {
    font-weight: 600;
    color: var(--text-primary);
  }

  .description p {
    line-height: 1.5rem;
    font-weight: 300;
    color: var(--text-primary);
  }

  .hidden-lg {
    display: flex;
  }

  .hidden-lg span {
    font-family: var(--font-mono);
    font-weight: 400;
    color: var(--accent-primary);
    margin-right: 20px;
  }

  .hidden-lg a {
    display: flex;
  }

  .hidden-lg-links {
    margin-top: .5rem;
    display: flex;
    justify-content: space-around;
  }

  .hidden-lg-links a {
    padding: 4px 8px;
    border: 1px solid var(--accent-primary);
    border-radius: var(--border-radius);
    color: var(--text-primary);
  }

  .hidden-lg-links a:active {
    background-color: var(--green-tint);
    color: var(--accent-primary);
    transition: var(--transition);
  }

  .project-links {
    display: none;
  }

  /* ==== Additional Projects */
  .project-inner-img img {
    filter: none;
  }

  .project-inner h5 {
    color: var(--text-primary);
  }

  /* ==== Contact ==== */
  .media-icons {
    display: block;
  }

  .media-icons i {
    color: var(--text-primary);
  }

  .media-icons i:active {
    border: 2px dashed var(--accent-primary);
    transition: none;
  }

  /* ==== Additional Projects ==== */
  #additional-projects {
    min-width: 100%;
    max-width: 100%;
  }

  /* ==== About ==== */
  .quote {
    padding: 0;
  }

  .quote-text h6 {
    font-size: var(--fs-md);
  }

  .quote-text p {
    font-size: var(--fs-sm);
  }
}

/* ------------------- */
@media only screen and (min-width: 577px) and (max-width: 768px) {

  /* ==== Top navbar ==== */
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 5px;
  }

  .nav-item:last-child {
    padding-right: 10px;
  }

  .header-background {
    margin: 5% -20%;
    transition: none;
  }

  .logo {
    opacity: 1;
  }

  /* ==== Contact side elements ==== */
  #left-side {
    display: none;
  }

  /* ==== Selected Projects ==== */
  .project-row {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0;
  }

  .img-container {
    position: relative;
    height: 200px;
    width: auto;
    margin: 0;
    border-radius: var(--border-radius);
    display: none;
    padding: 0;
    transition: none;
  }

  #project1:hover .img-container, #project3:hover .img-container {
    transform: none;
  }

  #project1:hover .gallery, #project2:hover .gallery, #project3:hover .gallery {
    filter: none;
  }

  #project1:hover .info-wrapper, #project3:hover .info-wrapper {
    transform: none;
  }

  #project2:hover .info-wrapper-left {
    transform: none;
  }

  #project2:hover .img-container {
    transform: none;
  }

  .overlay-sm {
    opacity: .9;
    mix-blend-mode: hue;
  }

  .info-wrapper, .info-wrapper-left {
    margin-bottom: 10%;
    background-color: transparent;
  }

  .project-title, .project-title-right, .project-title-left {
    display: none;
  }

  div[class*='bg-img'] {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: none;
    object-fit: cover;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    box-shadow: 0px 0px 8px var(--text-primary-tint);
    transition: none;
  }

  .bg-img-1 {
    background-image: url('/assets/images/buffle-disc-golf.png');
  }

  .bg-img-2 {
    background-image: url('/assets/images/high-low-game.png');
  }

  .bg-img-3 {
    background-image: url('/assets/images/recipe-app.png');
  }

  .description {
    margin: 10% 0;
    padding: 2%;
    min-width: 80%;
    max-width: 90%;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: var(--background-secondary);
  }

  .description h3, .description p, .hidden-lg-links {
    display: block;
    text-align: left;
    padding: 0 1.5rem;
  }

  .description h3 {
    font-weight: 600;
    color: var(--text-primary);
  }

  .description p {
    font-weight: 400;
    color: var(--text-primary);
  }

  .hidden-lg {
    display: flex;
  }

  .hidden-lg span {
    font-family: var(--font-mono);
    font-weight: 400;
    color: var(--accent-primary);
    margin-right: 20px;
  }

  .hidden-lg a {
    display: flex;
  }

  .hidden-lg-links {
    margin-top: .5rem;
    display: flex;
    justify-content: space-around;
    align-content: center;
  }

  .hidden-lg-links a {
    padding: 4px 8px;
    border: 1px solid var(--accent-primary);
    border-radius: var(--border-radius);
    color: var(--text-primary);
  }

  .hidden-lg-links a:hover, .hidden-lg-links a:active {
    background-color: var(--green-tint);
    color: var(--accent-primary);
    transition: var(--transition);
  }

  .project-links {
    display: none;
  }

  /* ==== Additional Projects ==== */
  .project-inner-img img {
    filter: none;
  }

  .project-inner h5 {
    color: var(--text-primary);
  }

  /* ==== Contact ==== */
  .media-icons {
    display: block;
  }

  .media-icons i {
    color: var(--text-primary);
  }

  .media-icons i:active {
    border: 2px dashed var(--accent-primary);
  }
}

/* ------------------- */
@media only screen and (min-width: 769px) and (max-width: 992px) {

  /* ==== Top navbar ==== */
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 5px;
  }

  .nav-item:last-child {
    padding-right: 10px;
  }

  /* ==== Selected Projects ==== */
  .project-row {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0;
  }

  .img-container {
    position: relative;
    height: 200px;
    width: auto;
    margin: 0;
    border-radius: var(--border-radius);
    display: none;
    padding: 0;
  }

  #project1:hover .img-container, #project3:hover .img-container {
    transform: none;
  }

  #project1:hover .gallery, #project2:hover .gallery, #project3:hover .gallery {
    filter: none;
  }

  #project1:hover .info-wrapper, #project3:hover .info-wrapper {
    transform: none;
  }

  #project2:hover .info-wrapper-left {
    transform: none;
  }

  #project2:hover .img-container {
    transform: none;
  }

  .overlay-sm {
    opacity: .9;
    mix-blend-mode: hue;
  }

  .info-wrapper, .info-wrapper-left {
    margin-bottom: 10%;
    background-color: transparent;
  }

  .project-title, .project-title-right, .project-title-left {
    display: none;
  }

  div[class*='bg-img'] {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: none;
    object-fit: cover;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    box-shadow: 0px 0px 8px var(--text-primary-tint);
    transition: none;
  }

  .bg-img-1 {
    background-image: url('/assets/images/buffle-disc-golf.png');
  }

  .bg-img-2 {
    background-image: url('/assets/images/high-low-game.png');
  }

  .bg-img-3 {
    background-image: url('/assets/images/recipe-app.png');
  }

  .description {
    margin: 10% 0;
    padding: 8%;
    min-width: 80%;
    max-width: 90%;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: var(--background-secondary);
  }

  .description h3, .description p, .hidden-lg-links {
    display: block;
    text-align: left;
    padding: 0 1.5rem;
  }

  .description h3 {
    font-weight: 600;
    color: var(--text-primary);
  }

  .description p {
    font-weight: 400;
    color: var(--text-primary);
  }

  .hidden-lg {
    display: flex;
  }

  .hidden-lg span {
    font-family: var(--font-mono);
    font-weight: 400;
    color: var(--accent-primary);
    margin-right: 20px;
  }

  .hidden-lg a {
    display: flex;
  }

  .hidden-lg-links {
    margin-top: .5rem;
    display: flex;
    justify-content: space-around;
  }

  .hidden-lg-links a {
    padding: 4px 8px;
    border: 1px solid var(--accent-primary);
    border-radius: var(--border-radius);
    color: var(--text-primary);
  }

  .hidden-lg-links a:active {
    background-color: var(--green-tint);
    color: var(--accent-primary);
    transition: var(--transition);
  }

  .project-links {
    display: none;
  }

  /* ==== Additional Projects ==== */
  .project-inner-img img {
    filter: none;
  }

  .project-inner h5 {
    color: var(--text-primary);
  }

  .project-links-sm {
    display: none;
  }

  .project-title-sm {
    display: flex;
  }
}
